@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #78c1f3;
}

.clock{
    background: #ececec;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 14px solid #333;
    margin: 8% auto 0;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
}

.dot{
    width:12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
}

.hand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);      /* 先将指针自身的底部中心点对齐到父容器（表盘）中心 */
    transform-origin: bottom center;        /* 设置旋转中心为指针底部中心，便于以表盘中心为轴旋转 */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 5;
}
.hour-hand{
    width: 4px;
    height: 65px;
    background: #333;
}
.minute-hand{
    width: 4px;
    height: 100px;
    background: #666;
}
.second-hand{
    width: 2px;
    height: 120px;
    background: red;
}

.info{
    position: absolute;
    background: #ccc;
    width:68px;
    font-size: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.date{
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
}

.day{
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.session{
    top: 120px;
    right: 30px;
    width: 30px;
}

span{
    position: absolute;
    left: 50%;
    margin-left: -5px;
    transform-origin: 50% 138px;
}

.interval{
    width: 1px;
    height: 10px;
    background: #666;
    margin-left: -1px;
}